.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contactItem:hover {
  border-color: red;
}

.contactProfileImage > img {
  border-radius: 50px;
  width: 100px;
}

.contactName {
  width: 80%;
  margin-left: 40px;
  font-size: 24px;
  font-weight: 800;
}

.contactBasicInfo {
  display: flex;
}

.contactBasicInfo > img {
  margin-right: 60px;
}